[submodule "luact/ext/pulpo"]
	path = luact/ext/pulpo
	url = git@github.com:umegaya/pulpo.git
[submodule "luact/ext/ffiex"]
	path = luact/ext/ffiex
	url = git@github.com:umegaya/ffiex.git
[submodule "luact/ext/serpent"]
	path = luact/ext/serpent
	url = git@github.com:umegaya/serpent.git
[submodule "luact/ext/ffi-reflect"]
	path = luact/ext/ffi-reflect
	url = git@github.com:umegaya/ffi-reflect.git
[submodule "test/deploy/foo"]
	path = test/deploy/foo
	url = git@github.com:umegaya/deploy_test_foo.git
[submodule "luact/ext/json"]
	path = luact/ext/json
	url = git@github.com:umegaya/lua-resty-libcjson.git
